h1 {
  margin-bottom: 5rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-width: 50rem; */
}

p
{   
  margin: 0 3rem 0 3rem;
}

#zod-signs-area {
  margin-top: 1rem;
  width: 42rem;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
}

#zod-signs-area > #first-row, #second-row, #third-row, #fourth-row {
  display: flex;
  justify-content: space-between;
  min-height: 12rem;
  /* min-width: 40rem; */
  /* align-items: center; */
}

p.zod-name {
  font-size: 1.4rem;
  text-align: center;
  min-width: 5rem;
  margin: 0;
  font-weight: bold;
}

p.bday {
  font-size: 1.2rem;
  min-width: 5rem;
  margin: 0;
}

img {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #6661F1;
}

a.zodiac-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
}

p#cta-prompt {
  margin-top: 1rem;
  font-size: 1rem;
}

div#add-zodiac {
  margin: 2rem
}

form {
  margin-top: 2rem;
}



.add-btn {
  width: 20rem;
}