h1 {
  margin-bottom: 5rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#western-zod, #estern-zod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  flex-wrap: wrap;
  min-width: 46rem;
}


p#name {
  text-align: center;
  width: 10rem;
  font-weight: bold;
  /* margin: 0; */
  /* text-align: left; */
}

p#desc {
  text-align: left;
  width: 30rem;
  font-size: 1.4rem;

  /* margin: 0; */
  /* text-align: left; */
}

p#cta {
  margin-top: 1.5rem;
}

p#question {
  margin: 1.5rem 2rem 1.5rem 2rem;
}

form#poll {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  margin: 2rem 0 3rem 0;
  min-width: 40rem;
}

form#poll > label {
  display: flex;
  justify-content: space-around;
  min-width: 20rem;
  align-items: center;
}


#poll-results {
  display: flex;
  justify-content: space-around;
  min-width: 40rem;
  min-height: 12rem;
  font-size: 1.6rem;
  font-weight: bold;
}

#w-poll-results, #e-poll-results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#e-zod-count, #w-zod-count {
  color: #FF6E6E;
}

#comment-area {
  margin-top: 3rem;
}