  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <div id="nav-buttons">
      <a id="profile-logo" href="/zodiacs">♉️</a>
      <a id="meme-logo" href="/memes">🏭</a>
      <a id="profile-logo" href="/profiles">🧑</a>
      <a id="download-icon" href="https://hangfive.page.link/UM9v">⬇️</a>
    </div>
    <div id="login-button">
      <% if (user) { %>
        <a href="/auth/logout">
          <button id="logout-button" type="submit">👋</button>
        </a>
      <% } else { %>
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
      <% } %>
    </div>
  </nav>
