main {
  padding-left: 2rem;
  padding-right: 2rem;
  
}

h1 {
  margin-bottom: 5rem;
}

.fs-3 {
  font-size: 1rem!important;
}

.card, img.card-img-top {
  border-radius: 5px;
}
/* section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* p
{   
  margin: 0 3rem 0 3rem;
} */

/* img {
  width: 120%;
} */
