h1 {
  margin-bottom: 5rem;
}

/* section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* p
{   
  margin: 0 3rem 0 3rem;
} */

/* img {
  width: 120%;
} */
