<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/zodiacs/style.css" />
<%- include('../partials/nav') %>

<main>
  <section>
    <h1>The Sign Pairs</h1>
    <p>Your Sun Sign Corresponds to the "Month Zodiac" in Chinese Astrology.</p>



  </section>
</main>

<%- include('../partials/footer') %>