<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/zodiacs/index.css" />
<script defer src="/javascript/main.js"></script>
<%- include('../partials/nav') %>

<main>
  <section>
    <h1><%= title %> </h1>
    <p>Your Sun Sign Corresponds to the "Month Zodiac" in Chinese Astrology. 
      Click your sun sign to see the Eastern counterpart!</p>

    <div id="zod-signs-area">
      <div id="first-row">
        <a href="/zodiacs/6226fe8ad2a0a7ff37602bc2"><img src="/images/assets/aquarius.png" alt="aquarius"></a>
        <a href="/zodiacs/622662b534704c8fe5b5313f"><img src="/images/assets/capricorn.png" alt="capricorn"></a>
        <a href="/zodiacs/6226631b34704c8fe5b53141"><img src="/images/assets/aries.png" alt="aries"></a>
      </div>
      <div id="second-row">
        <a href="/zodiacs/62265d5034704c8fe5b53135"><img src="/images/assets/virgo.png" alt="virgo"></a>
        <a href="/zodiacs/622661a934704c8fe5b5313b"><img src="/images/assets/gemini.png" alt="gemini"></a>
        <a href="/zodiacs/62265ec134704c8fe5b53137"><img src="/images/assets/taurus.png" alt="taurus"></a>
      </div>
      <div id="third-row">
        <a href="/zodiacs/622663ad34704c8fe5b53143"><img src="/images/assets/pisces.png" alt="pisces"></a>
        <a href="/zodiacs/62265f3434704c8fe5b53139"><img src="/images/assets/scorpio.png" alt="scorpio"></a>
        <a href="/zodiacs/6226623834704c8fe5b5313d"><img src="/images/assets/cancer.png" alt="cancer"></a>
      </div>
      <div id="fourth-row">
        <a href="/zodiacs/6226657a34704c8fe5b53147"><img src="/images/assets/leo.png" alt="leo"></a>
        <a href="/zodiacs/622664d934704c8fe5b53145"><img src="/images/assets/libra.png" alt="libra"></a>
        <a href="/zodiacs/62265c2634704c8fe5b53133"><img src="/images/assets/sagittarius.png" alt="sagittarius"></a>
      </div>     
    </div>
  </section>
</main>

<%- include('../partials/footer') %>