<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/zodiacs/style.css" />
<%- include('../partials/nav') %>

<main>
  <section>
    <h1><%= title %> </h1>
    <p>Your Sun Sign Corresponds to the "Month Zodiac" in Chinese Astrology. 
      Click a pair to compare see comparisons.</p>

    <div id="zod-signs-area">
      <div id="first-row">
        <a href="/zodiacs/6225ba95d764b1a31f97a7b9"><img src="/images/assets/rat_aquarius.png" alt="rat_aquarius"></a>
        <a href="/zodiacs/23133123"><img src="/images/assets/ox_capricorn.png" alt="ox_capricorn"></a>
        <a href="/zodiacs/23133123"><img src="/images/assets/dog_aries.png" alt="dog_aries"></a>
      </div>
      <div id="second-row">
        <a href="/zodiacs/23133123"><img src="/images/assets/snake_virgo.png" alt="snake_virgo"></a>
        <a href="/zodiacs/23133123"><img src="/images/assets/monkey_gemini.png" alt="monkey_gemini"></a>
        <a href="/zodiacs/23133123"><img src="/images/assets/rooster_taurus.png" alt="ooster_taurus"></a>
      </div>
      <div id="third-row">
        <a href="/zodiacs/23133123"><img src="/images/assets/pig_pisces.png" alt="pig_pisces"></a>
        <a href="/zodiacs/23133123"><img src="/images/assets/rabbit_scorpio.png" alt="rabbit_scorpio"></a>
        <a href="/zodiacs/23133123"><img src="/images/assets/goat_cancer.png" alt="goat_cancer"></a>
      </div>
      <div id="fourth-row">
        <a href="/zodiacs/23133123"><img src="/images/assets/horse_leo.png" alt="horse_leo"></a>
        <a href="/zodiacs/23133123"><img src="/images/assets/dragon_libra.png" alt="dragon_libra"></a>
        <a href="/zodiacs/23133123"><img src="/images/assets/tiger_sagittarius.png" alt="tiger_sagittarius"></a>
      </div>     
    </div>
  </section>
</main>

<%- include('../partials/footer') %>