<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/zodiacs/index.css" />
<%- include('../partials/nav') %>

<main>
  <section>
    <h1><%= title %> </h1>
    <p>Your Sun Sign Corresponds to the "Month Zodiac" in Chinese Astrology. 
      Click a pair to compare see comparisons.</p>

    <div id="zod-signs-area">
      <div id="first-row">
        <a href="/zodiacs/6225ba95d764b1a31f97a7b9"><img src="/images/assets/rat_aquarius.png" alt="rat_aquarius"></a>
        <a href="/zodiacs/622662b534704c8fe5b5313f"><img src="/images/assets/ox_capricorn.png" alt="ox_capricorn"></a>
        <a href="/zodiacs/6226631b34704c8fe5b53141"><img src="/images/assets/dog_aries.png" alt="dog_aries"></a>
      </div>
      <div id="second-row">
        <a href="/zodiacs/62265d5034704c8fe5b53135"><img src="/images/assets/snake_virgo.png" alt="snake_virgo"></a>
        <a href="/zodiacs/622661a934704c8fe5b5313b"><img src="/images/assets/monkey_gemini.png" alt="monkey_gemini"></a>
        <a href="/zodiacs/62265ec134704c8fe5b53137"><img src="/images/assets/rooster_taurus.png" alt="rooster_taurus"></a>
      </div>
      <div id="third-row">
        <a href="/zodiacs/622663ad34704c8fe5b53143"><img src="/images/assets/pig_pisces.png" alt="pig_pisces"></a>
        <a href="/zodiacs/62265f3434704c8fe5b53139"><img src="/images/assets/rabbit_scorpio.png" alt="rabbit_scorpio"></a>
        <a href="/zodiacs/6226623834704c8fe5b5313d"><img src="/images/assets/goat_cancer.png" alt="goat_cancer"></a>
      </div>
      <div id="fourth-row">
        <a href="/zodiacs/6226657a34704c8fe5b53147"><img src="/images/assets/horse_leo.png" alt="horse_leo"></a>
        <a href="/zodiacs/622664d934704c8fe5b53145"><img src="/images/assets/dragon_libra.png" alt="dragon_libra"></a>
        <a href="/zodiacs/62265c2634704c8fe5b53133"><img src="/images/assets/tiger_sagittarius.png" alt="tiger_sagittarius"></a>
      </div>     
    </div>
  </section>
</main>

<%- include('../partials/footer') %>