<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Find Your Zodiac Signs</h1>

  <img id="idx_zod_img" src="/images/assets/index_zodiac_images.png" alt="">

  <p>Your Sun sign and Eastern counterpart</p>
  <a href="/zodiacs"><button class="btn start-button" id="start-button">Start</button></a>
  
</main>

<%- include('./partials/footer') %>
