<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Your Sun Sign & Eastern Counterpart</h1>

  <img id="idx_zod_img" src="/images/assets/index_zodiac_images.png" alt="">

  <% if(user) { %>
    <h2><%= user.profile.name %>, welcome back!</h2>  
  <% } else { %> 
    <p>Find your zodiac signs!</p>
    <a href="/zodiacs"><button class="btn start-button" id="start-button">Start</button></a>
  <% } %> 
  </main>

<%- include('./partials/footer') %>
