/* p#studio-name {
  margin-top: 3rem;
}

h1
{
} */

form {
  /* width: 40rem!important; */
}

/* .delete, .edit, .funny-btn {
  display: inline;
  width: 6rem;
  height: 3rem;
  font-size: 1rem;
} */